<template>
  <el-container>
    <el-header>
      <img src="./assets/logo.png" />
    </el-header>
    <el-container>
      <el-main>
        <el-row :gutter="20" type="flex" justify="center">
          <el-col :span="8" :xs="24">
            <el-form ref="form" label-width="70px">
              <el-form-item label="Região">
                <el-select v-model="region" placeholder="Selecione">
                  <el-option
                    v-for="item in regions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Estado">
                <el-select v-model="state" placeholder="Selecione">
                  <el-option
                    v-for="item in states"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Município">
                <el-input v-model="city"></el-input>
              </el-form-item>

              <el-form-item style="text-align:right">
                <el-button icon="el-icon-search" type="primary" @click="search">Buscar</el-button>
              </el-form-item>
            </el-form>
          </el-col>

          <el-col :span="12" :xs="24">
            <el-table
              :data="cities"
              v-loading="loading"
              height="80vh"
              style="width: 100%">
              <el-table-column
                prop="reference"
                label="Código"
                width="120">
              </el-table-column>
              <el-table-column
                prop="name"
                label="Município">
              </el-table-column>
              <el-table-column
                align="right">
                <template slot-scope="scope">
                  <a class="el-button el-button--text el-button--link" target="_blank" :href="'https://sidra.ibge.gov.br/territorio#/N6/' + scope.row.reference">saiba mais</a>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import regionService from '@/api/region-service';
import stateService from '@/api/state-service';
import cityService from '@/api/city-service';

export default {
  data() {
    return {
      states: [],
      state: '',
      regions: [],
      region: '',
      cities: [],
      loading: false,
    }
  },
  mounted() {
    this.fetch();
  },
  methods: {
    search() {
      this.loading = true;
      cityService.all(this.region, this.state, this.city).then(response => {
        this.cities = response;
        this.loading = false;
      });
    },
    fetch() {
      stateService.all().then(response => {
        this.states = response.map(state => this._transform(state));
      });

      regionService.all().then(response => {
        this.regions = response.map(region => this._transform(region));
      });
    },
    _transform(item) {
      return {
        label: item.name,
        value: item.id,
      }
    }
  }
}
</script>


<style lang="scss">
.el-header{
  line-height: 60px;
  text-align: center;
  img {
    margin-top: 25px;
  }
}

.el-aside {
  padding: 20px;
}

.el-main {

}

body > .el-container {
  margin-bottom: 40px;
}

.el-select {
  width: 100%;
}

.el-button--link {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background: #f3f3f3;
}
</style>
